* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer>ul>li {
    list-style: none;
    display: inline;
}

footer>ul>li>img {
    width: 5px;
}



.detalle-precio>p {
    display: inline;
}

.detalle-precio {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.check-search-container {
    display: flex;
}

a>img {
    max-height: 45px;
}